[Unit]
Description=Rails App
After=network.target

[Service]
PIDFile=/opt/app/shared/pids/unicorn.pid
User=railsapp
Type=forking
WorkingDirectory=/opt/app
ExecStart=/usr/local/bin/bundle exec unicorn -c config/unicorn.rb -E production -D
Restart=on-failure

[Install]
WantedBy=default.target
