<!DOCTYPE html>

<% if books.any? %>
  <h2>Books</h2>
  <ul>
    <% books.each do |book| %>
      <li id="book_<%= book[:id] %>">
        <%= book[:title] %> -by- <%= book[:author] %>
        <form method="post" action="/books" style="display: inline;">
          <input type="hidden" name="id" value="<%= book[:id] %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="X">
        </form>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no books!</p>
<% end %>

<fieldset>
   <legend>Add book</legend>
  <form method="post" action="/books">
    <input name="title" placeholder="Book title">
    <input name="author" placeholder="Book author">
    <input type="submit" value="Add book">
  </form>
</fieldset>
